<div class="card text-center">
  <div class="card-header">
    Budget Manager (BudMan)
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= I18n.t('views.messages.welcome') %></h5>
    <p class="card-text top"><%= I18n.t('views.messages.description') %></p>
    <%= link_to 'Create an account', new_user_registration_path, class:"btn btn-primary btn-lg text-white" %>
  </div>

</div>