<div class="card text-center">
  <div class="card-header">
    Budget Manager (BudMan)
  </div>
  <%= react_component("Welcome", {title: I18n.t('views.messages.welcome'), description: I18n.t('views.messages.description'),}) %>
  <%= link_to I18n.t('views.account.create'), new_user_registration_path, class:"btn btn-primary btn-lg text-white" %>
</div>