<h1 class="text-center">Créer Nouveau budget</h1>
<%= react_component("Page", { title: "Table Budget", description:" Il s'agit ici du formulaire pour la création d'un nouveau budget" }) %>

<%= render 'form', budget: @budget %>

<div class="col-md-2 offset-md-2">
    <%= button_to 'Retour', budgets_path, :method => "get", class:"btn btn-primary btn-lg" %>
</div>