// Place all the styles related to the Budgets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top{
    font-family: 'Charm', cursive;
font-family: 'Niconne', cursive;
font-size: 30px;
}