<h1>Editing Expense</h1>
<%= react_component("Page", { title: "Table Expense", description:"Cette table permet de sauvegarder les dépenses que vous effectuez" }) %>

<%= render 'form', expense: @expense %>

<%= link_to I18n.t('views.link.show'), @expense %> |
<%= link_to I18n.t('views.link.back'), budgets_path %>
