<h1>Editing Expense</h1>
<%= react_component("Welcome", { greeting: "Expense Table => This table allow you to record daily expenses. An expense is recorded for a specific budget" }) %>

<%= render 'form', expense: @expense %>

<%= link_to 'Show', @expense %> |
<%= link_to 'Back', budgets_path %>
