<h1>Enregistrer une dépense</h1>

<%= render 'form', expense: @expense %>

<div class="col-md-2 offset-md-2">
<%= button_to 'Back', expenses_path, :method => "get", class:"btn btn-primary btn-lg" %>
</div>
